<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        #file-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="file-form">
        <form action="/filename" method="post">
            <input type="file" name="video">
            <input type="submit" name="" id="" value="Get Emotion">
        </form>    
    </div>
</body>
</html>